*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(25, 23, 48);
}
.card{
    position: relative;
    width: 320px;
    height: 420px;
    background: rgb(29, 46, 77);
    border-radius: 20px;
    overflow: hidden;
}
.card::before{
    content: '';
    position: absolute;
    top: -50%;
    height: 100%;
    width: 100%;
    background: rgb(113, 173, 252);
    transform: skewY(345deg);
    transition: 0.5s;
}
.card:hover::before{
    top: -70%;
    transform: skewY(390deg);
}
.card::after{
    content: 'Phillips';
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
}
.card .img-box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
}
.card .img-box img{
    max-width: 100%;
    transition: 0.5s;
}
.card:hover .img-box img{
    max-width: 80%;
}
.card .contentbox{
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.card .contentbox h3{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}
.card .contentbox .price{
    color: white;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
}
.card .contentbox .buy{
   position: relative;
    color: white;
    top: 200px;
    opacity: 0;
    text-decoration: none;
    background: rgb(56, 169, 245);
    padding: 10px 30px;
    margin-top: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentbox .buy{
    top: 0;
    opacity: 1;
}